<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw-x-Gv3F_FnrT5API-mpQGZv1Tde5Rjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088897547340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asp.aspChat</string>
	<key>PROJECT_ID</key>
	<string>asp-chat-9c526</string>
	<key>STORAGE_BUCKET</key>
	<string>asp-chat-9c526.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088897547340:ios:80e045120d1883b60688e9</string>
</dict>
</plist>